@model HospitalManagementSystem.Dtos.Auth.RegisterDto
@{
    ViewBag.Title = "Register Admin";
}

<div class="main-card">
    <h2>Register Admin</h2>

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    }

    <form asp-action="Register" method="post">
        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="Email" value="@Model?.Email" class="form-control" required />
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input type="password" name="Password" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-custom">Register Admin</button>
    </form>
</div>
